.block.icon-block {
  --repeat-number: 4;
  display: grid;
  grid-template-columns: repeat(var(--repeat-number), 1fr);
  gap: 20px;
}

.block.icon-block .ib-icon {
  text-align: center;
}
.block.icon-block .ib-icon span {
  width: 72px;
  height: 72px;
}
.block.icon-block .ib-icon img {
  height: 100%;
  width: 100%;
}

@media (width <= 768px) {
  .block.icon-block {
    grid-template-columns: 1fr;
  }
  .block.icon-block .ib-icon span {
    width: 36px;
    height: 36px;
  }
}
